@(
    budget_id: Long,
    budget_form: Form[helpers.google.mcc.account.BudgetControllerHelper.BudgetForm]
)(implicit request: play.api.mvc.Request[Any], messages: Messages)
@import com.google.api.ads.adwords.axis.v201509.cm._
@import helper._
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - Edit Campaign Budget", chart=false) {
    @form(controllers.google.mcc.account.routes.BudgetController.saveBudget(budget_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Google Budget (@budget_id)
                </div>
                <div class="panel-body">
                    <div class="form-group">
                    @inputText(budget_form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @select(
                        budget_form("period"),
                        options("" :: List(BudgetBudgetPeriod._DAILY)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Period",
                            'style -> "width:350px;",
                            '_label -> "Period",
                            'readonly -> "readonly",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <div class="form-group has-warning">
                    @inputText(budget_form("amount"), '_label -> "Amount", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @select(
                        budget_form("deliveryMethod"),
                        options("" :: List(BudgetBudgetDeliveryMethod._ACCELERATED, BudgetBudgetDeliveryMethod._STANDARD)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Delivery Method",
                            'style -> "width:350px;",
                            '_label -> "Delivery Method",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @checkbox(budget_form("isExplicitlyShared"), '_label -> "", '_showConstraints -> false, 'class -> "form-control") Is Explicitly Shared
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                    @select(
                        budget_form("status"),
                        options("" :: List(BudgetBudgetStatus._ENABLED, BudgetBudgetStatus._REMOVED, BudgetBudgetStatus._UNKNOWN)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Budget Status",
                            'style -> "width:350px;",
                            '_label -> "Budget Status",
                            '_showConstraints -> false,
                            'readonly -> "readonly"
                        ): _*
                    )
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}