@(
    campaign_list: List[com.microsoft.bingads.campaignmanagement.Campaign],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_ad_changes: List[Shared.Shared.PendingCacheStructure]
)(implicit request: play.api.mvc.Request[Any])

@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Msn Campaigns", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Msn Accounts</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Campaign(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.msn.customer.account.campaign.routes.CampaignController.campaigns
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("api id", 1, 1),
                                        ("name", 1, 1),
                                        ("status", 1, 1),
                                        ("timezone", 1, 1),
                                        ("monthly budget", 1, 1),
                                        ("description", 1, 1)
                                    )
                                )
                                <tbody>
                                    @campaign_list.map { campaign =>
                                        <tr class="gradeA odd">
                                            <td class=" ">@campaign.getId</td>
                                            <td class=" ">@campaign.getName</td>
                                            <td class="center ">@campaign.getStatus.toString</td>
                                            <td class="center ">@campaign.getTimeZone</td>
                                            <td class="center ">@campaign.getMonthlyBudget</td>
                                            <td class="center ">@campaign.getDescription</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.msn.customer.account.campaign.routes.CampaignController.campaigns
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}