@(mcc_id: String, mcc_form: Form[models.mongodb.google.Google.Mcc])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Edit Google MCC Account", chart=false) {
    @form(controllers.google.mcc.routes.MccController.saveMcc(mcc_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Google MCC Account
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(mcc_form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(mcc_form("developerToken"), '_label -> "Developer Token", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(mcc_form("oAuthClientId"), '_label -> "oAuth Client ID", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(mcc_form("oAuthClientSecret"), '_label -> "oAuth Client Secret", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(mcc_form("oAuthRefreshToken"), '_label -> "oAuth Refresh Token", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}