@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201409.cm.AdGroupAd],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_text_ad_changes: List[Shared.Shared.pending_cache_structure]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@import Shared.Shared._
@import models.mongodb.google._
@import com.google.api.ads.adwords.axis.v201409.cm.TextAd
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google TextAds", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google TextAds</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/google/ad/text/new" class="btn btn-primary btn-xs">New TextAd</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Google TextAd(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_text_ad_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.ad.routes.TextAdController.textAds
                                )
                                <div class="col-sm-6">
                                    <div id="dataTables_filter" style="float: right;" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("API ID", 1, 1),
                                        ("Headline", 1, 1),
                                        ("URL", 1, 1),
                                        ("Action", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { text_ad =>
                                        <tr class="gradeA odd">
                                            <td class="sorting_1">@text_ad.getAd.asInstanceOf[TextAd].getId</td>
                                            <td class=" ">@text_ad.getAd.asInstanceOf[TextAd].getHeadline</td>
                                            <td class=" "><a href="@text_ad.getAd.asInstanceOf[TextAd].getUrl">@text_ad.getAd.asInstanceOf[TextAd].getUrl</a></td>
                                            <td class="center ">
                                                @form(controllers.google.ad.routes.TextAdController.editTextAd(text_ad.getAd.getId)) {
                                                    <input type="submit" value="Edit" class="btn btn-primary btn-xs">
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.ad.routes.TextAdController.textAds
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}