@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201409.cm.AdGroup],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_ad_group_changes: List[Shared.Shared.pending_cache_structure]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@import Shared.Shared._
@import models.mongodb.google._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google AdGroups", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google AdGroups</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/google/ad-group/new" class="btn btn-primary btn-xs">New AdGroup</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount AdGroup(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_ad_group_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.adgroup.routes.AdGroupController.adGroups
                                )
                                <div class="col-sm-6">
                                    <div id="dataTables_filter" style="float: right;" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("API ID", 1, 1),
                                        ("Name", 1, 1),
                                        ("Status", 1, 1),
                                        ("Action", 1, 1)
                                    )
                                )
                                <thead>
                                    <tr role="row">
                                        <th class="sorting_asc" tabindex="0" aria-controls="dataTables" rowspan="1" colspan="1" aria-label="API ID: activate to sort column ascending" style="width: 288px;" aria-sort="ascending">
                                            API ID
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables" rowspan="1" colspan="1" aria-label="Name: activate to sort column ascending" style="width: 390px;">
                                            Name
                                        </th>
                                        <th class="sorting" tabindex="0" aria-controls="dataTables" rowspan="1" colspan="1" aria-label="Status: activate to sort column ascending" style="width: 359px;">
                                            Status
                                        </th>
                                        <th tabindex="0" aria-controls="dataTables-example" rowspan="1" colspan="1" aria-label="Action" style="width: 249px;">
                                            Action
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @currentPageData.map { ad_group =>
                                        <tr class="gradeA odd">
                                            <td class="sorting_1">@ad_group.getId</td>
                                            <td class=" ">@ad_group.getName</td>
                                            <td class=" ">@ad_group.getStatus</td>
                                            <td class="center ">
                                                @form(controllers.google.adgroup.routes.AdGroupController.editAdGroup(ad_group.getId)) {
                                                    <input type="submit" value="Edit" class="btn btn-primary btn-xs">
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.adgroup.routes.AdGroupController.adGroups
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}