@(
    ad_group_form: Form[controllers.google.adgroup.AdGroupController.AdGroupForm],
    campaign_list: List[com.google.api.ads.adwords.axis.v201409.cm.Campaign],
    cached_campaign_list: List[controllers.google.campaign.CampaignController.CampaignForm],
    bulk_import_errors: List[String]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@import models.mongodb.google._
@import com.google.api.ads.adwords.axis.v201409.cm._
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - New Google AdGroup", chart=false) {
    @form(controllers.google.adgroup.routes.AdGroupController.createAdGroup) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New Google AdGroup
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                        @inputText(ad_group_form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @select(
                        ad_group_form("status"),
                        options("" :: List[String](AdGroupStatus._ENABLED, AdGroupStatus._REMOVED, AdGroupStatus._PAUSED)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Status",
                            'style -> "width:350px;",
                            '_label -> "Status",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <div class="form-group">
                        @select(
                            ad_group_form("content_bid_criterion_type_group"),
                            options("" :: List[String](CriterionTypeGroup._NONE, CriterionTypeGroup._UNKNOWN, CriterionTypeGroup._KEYWORD)),
                            args(
                                'class -> "chosen-select form-control",
                                Symbol("data-placeholder") -> "Set Content Bid Criterion Type Group",
                                'style -> "width:350px;",
                                '_label -> "Content Bid Criterion Type Group",
                                '_showConstraints -> false
                            ): _*
                        )
                    </div>
                    <div class="form-group has-warning">
                        @select(
                            ad_group_form("campaign"),
                            options("" :: cached_campaign_list.map(_.name + " - Pending").toList ::: campaign_list.map(_.getName).toList),
                            args(
                                'class -> "chosen-select form-control",
                                Symbol("data-placeholder") -> "Campaign",
                                'style -> "width:350px;",
                                '_label -> "Linked Campaign",
                                '_showConstraints -> false
                            ): _*
                        )
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Create</button>
                </div>
            </div>
        </div>
    }
    @_bulk_import(bulk_import_errors, controllers.google.adgroup.routes.AdGroupController.bulkNewAdGroup, "Ad Group(s)")
}