@(
    currentPageData: List[models.mongodb.yahoo.Yahoo.Campaign],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_campaign_changes: List[Shared.Shared.PendingCacheStructure]
)(implicit request: play.api.mvc.Request[Any])
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Yahoo Gemini Campaign", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Yahoo Gemini Campaign</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/yahoo/api_account/advertiser/campaign/new" class="btn btn-primary btn-xs">New Yahoo Gemini Campaign</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Gemini Campaign(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_campaign_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.mcc.routes.MccController.mcc
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("campaign name", 1, 1),
                                        ("id", 1, 1),
                                        ("budget", 1, 1),
                                        ("budget type", 1, 1),
                                        ("default landing url", 1, 1),
                                        ("status", 1, 1)
                                    )
                                )
                                <tbody>
                                @currentPageData.map { campaign =>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1">@campaign.campaignName</td>
                                        <td class=" ">@campaign.apiId</td>
                                        <td class=" ">@campaign.budget</td>
                                        <td class="center ">@campaign.budgetType</td>
                                        <td class="center">@campaign.defaultLandingUrl</td>
                                        <td class="center">@campaign.status</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.yahoo.api_account.advertiser.campaign.routes.CampaignController.campaign
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}