@(
    campaign_form: Form[models.mongodb.yahoo.Yahoo.Campaign],
    bulk_import_errors: List[String]
)(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - New Yahoo Gemini Campaign", chart=false) {
    @form(controllers.yahoo.api_account.advertiser.campaign.routes.CampaignController.createCampaign) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New Yahoo Campaign
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(campaign_form("campaignName"), '_label -> "Campaign Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("budget"), '_label -> "Budget", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("budgetType"), '_label -> "Budget Type", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("channel"), '_label -> "Channel", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("apiId"), '_label -> "API ID", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("language"), '_label -> "Language", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("objective"), '_label -> "Objective", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("status"), '_label -> "Status", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("isPartnerNetwork"), '_label -> "Is Partner Network?", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("defaultLandingUrl"), '_label -> "Default Landing Url", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("trackingPartner"), '_label -> "Tracking Partner", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("appLocale"), '_label -> "App Locale", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("advancedGeoPos"), '_label -> "Advanced Geo Pos", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(campaign_form("advancedGeoNeg"), '_label -> "Advanced Geo Neg", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Create</button>
                </div>
            </div>
        </div>
    }
    @_bulk_import(bulk_import_errors, controllers.yahoo.api_account.advertiser.campaign.routes.CampaignController.bulkNewCampaign, "Campaign(s)")
}