@()(implicit request: play.api.mvc.Request[Any])

@import helper._
@import play.api.Play.current
@import play.api.cache.Cache
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - Tasks", chart=false) {
    @defining(Cache.get(request.session.get(Security.username).get + Shared.Shared.task_ext).asInstanceOf[List[Shared.Shared.TaskStructure]]) { task_list =>
        <div class="row">
            <div class="col-lg-12">
                <table>
                    <tr>
                        <td>
                            <h3 class="page-header">Tasks</h3>
                        </td>
                    </tr>
                </table>
            </div>
        </div>
        <!-- /.row -->
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        @task_list.size tasks(s)
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>Task ID</th>
                                        <th>Size</th>
                                        <th>Progress</th>
                                        <th>Start Time</th>
                                        <th>Complete Time</th>
                                        <th>View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                @task_list.map { task =>
                                    <tr>
                                        <td>@task.id<td>
                                        <td>@task.data.size</td>
                                        <td>@(task.processes.map(_.completedSubProcesses).sum / task.processes.map(_.subProcesses).sum) * 100)%</td>
                                        <td>@task.startTime</td>
                                        <td>@task.completeTime'</td>
                                        <td>
                                            @form(controllers.google.mcc.account.campaign.adgroup.routes.AdGroupController.adGroups(0, 10, 2, "")) {
                                                <input type="submit" value="View" class="btn btn-primary btn-sm">
                                            }
                                        </td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                        </div>
                            <!-- /.table-responsive -->
                    </div>
                        <!-- /.panel-body -->
                </div>
                    <!-- /.panel -->
            </div>
        </div>
    }
}