@(advertiser_id: String, advertiser_form: Form[models.mongodb.yahoo.Yahoo.Advertiser])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Edit Yahoo Gemini Advertiser", chart=false) {
    @form(controllers.yahoo.api_account.advertiser.routes.AdvertiserController.saveAdvertiser(advertiser_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Yahoo Advertiser
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(advertiser_form("advertiserName"), '_label -> "Advertiser Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(advertiser_form("apiId"), '_label -> "API ID", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(advertiser_form("currency"), '_label -> "Currency", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(advertiser_form("timeZone"), '_label -> "Time Zone", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}