@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201509.cm.AdGroup],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_ad_group_changes: List[Shared.Shared.PendingCacheStructure]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google AdGroups", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google AdGroups</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/google/ad-group/new" class="btn btn-primary btn-xs">New AdGroup</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount AdGroup(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_ad_group_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.mcc.account.campaign.adgroup.routes.AdGroupController.adGroups
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("api id", 1, 1),
                                        ("name", 1, 1),
                                        ("status", 1, 1),
                                        ("action", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { ad_group =>
                                        <tr class="gradeA odd">
                                            <td class="sorting_1">@ad_group.getId</td>
                                            <td class=" ">@ad_group.getName</td>
                                            <td class=" ">@ad_group.getStatus</td>
                                            <td class="center ">
                                                @form(controllers.google.mcc.account.campaign.adgroup.routes.AdGroupController.editAdGroup(ad_group.getId)) {
                                                    <input type="submit" value="Edit" class="btn btn-primary btn-xs">
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.mcc.account.campaign.adgroup.routes.AdGroupController.adGroups
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}