@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201509.cm.CampaignCriterion],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
cached_campaign_ad_schedule_changes: List[Shared.Shared.PendingCacheStructure]
)(implicit request: play.api.mvc.Request[Any])

@import com.google.api.ads.adwords.axis.v201509.cm.AdSchedule
@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google Campaign Ad Schedules", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google Campaign Ad Schedules</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/google/campaign/ad-schedule/new" class="btn btn-primary btn-xs">New Campaign Ad Schedule</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Campaign AdSchedule(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_campaign_ad_schedule_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.mcc.account.campaign.criterion.routes.CampaignAdScheduleController.campaignAdSchedule
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("api id", 1, 1),
                                        ("campaign", 1, 1),
                                        ("day of week", 1, 1),
                                        ("start hour", 1, 1),
                                        ("start minute", 1, 1),
                                        ("end hour", 1, 1),
                                        ("end minute", 1, 1),
                                        ("action", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { campaign_ad_schedule =>
                                        <tr class="gradeA odd">
                                            <td class="sorting_1">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getId</td>
                                            <td class=" ">@campaign_ad_schedule.getCampaignId</td>
                                            <td class=" ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getDayOfWeek</td>
                                            <td class=" ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getStartHour</td>
                                            <td class="center ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getStartMinute</td>
                                            <td class="center ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getEndHour</td>
                                            <td class="center ">
                                                @form(controllers.google.mcc.account.campaign.criterion.routes.CampaignAdScheduleController.editCampaignAdSchedule(campaign_ad_schedule.getCriterion.getId)) {
                                                    <input type="submit" value="Edit" class="btn btn-primary btn-xs">
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.mcc.account.campaign.criterion.routes.CampaignAdScheduleController.campaignAdSchedule
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}