@(
    campaign_ad_schedule_id: Long,
    campaign_ad_schedule_form: Form[helpers.google.mcc.account.campaign.criterion.CampaignAdScheduleControllerHelper.CampaignAdScheduleForm],
    campaign_list: List[com.google.api.ads.adwords.axis.v201509.cm.Campaign],
    cached_campaign_list: List[helpers.google.mcc.account.campaign.CampaignControllerHelper.CampaignForm]
)(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - New Google Campaign Ad Schedule", chart=false) {
    @form(controllers.google.mcc.account.campaign.criterion.routes.CampaignAdScheduleController.editCampaignAdSchedule(campaign_ad_schedule_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Google Campaign Ad Schedule (@campaign_ad_schedule_id)
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @select(
                        campaign_ad_schedule_form("parent.campaignApiId"),
                        options("" :: cached_campaign_list.map(_.name) ::: campaign_list.map(_.getName).toList),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Campaign",
                            'style -> "width:350px;",
                            '_label -> "Linked Campaign",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>

    }
}