@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201409.cm.CampaignCriterion],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
cached_campaign_ad_schedule_changes: List[Shared.Shared.pending_cache_structure]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@import Shared.Shared._
@import models.mongodb.google._
@import com.google.api.ads.adwords.axis.v201409.cm.AdSchedule
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google Campaign Ad Schedules", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google Campaign Ad Schedules</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/google/campaign/ad-schedule/new" class="btn btn-primary btn-xs">New Campaign Ad Schedule</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Campaign AdSchedule(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_campaign_ad_schedule_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.campaign.criterion.routes.CampaignAdScheduleController.campaignAdSchedule
                                )
                                <div class="col-sm-6">
                                    <div id="dataTables_filter" style="float: right;" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("API ID", 1, 1),
                                        ("Campaign", 1, 1),
                                        ("Day Of Week", 1, 1),
                                        ("Start Hour", 1, 1),
                                        ("Start Minute", 1, 1),
                                        ("End Hour", 1, 1),
                                        ("End Minute", 1, 1),
                                        ("Action", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { campaign_ad_schedule =>
                                        <tr class="gradeA odd">
                                            <td class="sorting_1">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getId</td>
                                            <td class=" ">@campaign_ad_schedule.getCampaignId</td>
                                            <td class=" ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getDayOfWeek</td>
                                            <td class=" ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getStartHour</td>
                                            <td class="center ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getStartMinute</td>
                                            <td class="center ">@campaign_ad_schedule.getCriterion.asInstanceOf[AdSchedule].getEndHour</td>
                                            <td class="center ">
                                                @form(controllers.google.campaign.criterion.routes.CampaignAdScheduleController.editCampaignAdSchedule(campaign_ad_schedule.getCriterion.getId)) {
                                                    <input type="submit" value="Edit" class="btn btn-primary btn-xs">
                                                }
                                            </td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.campaign.criterion.routes.CampaignAdScheduleController.campaignAdSchedule
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}