@(
    currentPageData: List[models.mongodb.yahoo.Yahoo.AdGroup],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_adgroup_changes: List[Shared.Shared.PendingCacheStructure]
)(implicit request: play.api.mvc.Request[Any])
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Yahoo Gemini AdGroup", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Yahoo Gemini AdGroup</h3>
                    </td>
                    <td>&nbsp;</td>
                    <td align="center">
                        <a href="/yahoo/api_account/advertiser/campaign/adgroup/new" class="btn btn-primary btn-xs">New Yahoo Gemini AdGroup</a>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Gemini AdGroup(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        @views.html.snippets.pending_cached_changes_alert(cached_adgroup_changes)
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.yahoo.api_account.advertiser.campaign.adgroup.routes.AdGroupController.adgroup
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("name", 1, 1),
                                        ("id", 1, 1),
                                        ("start date", 1, 1),
                                        ("end date", 1, 1),
                                        ("status", 1, 1)
                                    )
                                )
                                <tbody>
                                @currentPageData.map { adgroup =>
                                    <tr class="gradeA odd">
                                        <td class="sorting_1">@adgroup.adGroupName</td>
                                        <td class=" ">@adgroup.apiId</td>
                                        <td class=" ">@adgroup.startDateStr</td>
                                        <td class="center ">@adgroup.endDateStr</td>
                                        <td class="center">@adgroup.status</td>
                                    </tr>
                                }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.yahoo.api_account.advertiser.campaign.adgroup.routes.AdGroupController.adgroup
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}