@(adgroup_id: String, adgroup_form: Form[models.mongodb.yahoo.Yahoo.AdGroup])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Edit Yahoo Gemini AdGroup", chart=false) {
    @form(controllers.yahoo.api_account.advertiser.campaign.adgroup.routes.AdGroupController.saveAdGroup(adgroup_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Yahoo AdGroup
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("campaignName"), '_label -> "Campaign Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("budget"), '_label -> "Budget", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("budgetType"), '_label -> "Budget Type", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("channel"), '_label -> "Channel", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("apiId"), '_label -> "API ID", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("language"), '_label -> "Language", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("objective"), '_label -> "Objective", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("status"), '_label -> "Status", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("isPartnerNetwork"), '_label -> "Is Partner Network?", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("defaultLandingUrl"), '_label -> "Default Landing Url", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("trackingPartner"), '_label -> "Tracking Partner", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("appLocale"), '_label -> "App Locale", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("advancedGeoPos"), '_label -> "Advanced Geo Pos", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(adgroup_form("advancedGeoNeg"), '_label -> "Advanced Geo Neg", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}