@(
    currentPageData: List[com.microsoft.bingads.campaignmanagement.SitePlacement],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_customer_changes: List[Shared.Shared.PendingCacheStructure]
)(implicit request: play.api.mvc.Request[Any])

@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Msn Site Placement", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Msn Site Placements</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Site Placement(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.msn.customer.account.campaign.adgroup.site_placement.routes.SitePlacementController.sitePlacements
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("id", 1, 1),
                                        ("customer number", 1, 1),
                                        ("name", 1, 1),
                                        ("address", 1, 1),
                                        ("industry", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { site_placement =>
                                        <tr class="gradeA odd">
                                            <td class=" ">@site_placement.getId</td>
                                            <td class="center ">@site_placement.getPlacementId</td>
                                            <td class=" ">@site_placement.getBid.getAmount</td>
                                            <td class="center ">@site_placement.getUrl</td>
                                            <td class="center ">@site_placement.getStatus.value()td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.msn.customer.account.campaign.adgroup.site_placement.routes.SitePlacementController.sitePlacements
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}