@(api_account_id: String, api_account_form: Form[models.mongodb.yahoo.Yahoo.ApiAccount])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Edit Yahoo Gemini Api Account", chart=false) {
    @form(controllers.yahoo.api_account.routes.ApiAccountController.saveApiAccount(api_account_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Yahoo Api Account
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(api_account_form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(api_account_form("clientId"), '_label -> "Client ID", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(api_account_form("clientSecret"), '_label -> "Client Secret", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @inputText(api_account_form("refreshToken"), '_label -> "Refresh Token", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}