@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201509.mcm.Customer],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int
)(implicit request: play.api.mvc.Request[Any], messages: Messages)

@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google Accounts", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google Accounts</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Account(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.mcc.account.routes.AccountController.accounts
                                )
                                @views.html.snippets.search()
                            </div>
                            <table class="table-striped table-bordered table-hover dataTable no-footer" style="width: 100%;" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("customer id", 1, 1),
                                        ("name", 1, 1),
                                        ("login", 1, 1),
                                        ("currency code", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { account =>
                                        <tr class="gradeA odd">
                                            <td class=" ">@account.getCustomerId</td>
                                            <td class=" ">@account.getCompanyName</td>
                                            <td class="center ">@account.getCompanyName</td>
                                            <td class="center ">@account.getCurrencyCode</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.mcc.account.routes.AccountController.accounts
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}