@(
    campaign_keyword_form: Form[helpers.google.mcc.account.campaign.criterion.CampaignKeywordControllerHelper.CampaignKeywordForm],
    campaign_list: List[com.google.api.ads.adwords.axis.v201509.cm.Campaign],
    cached_campaign_list: List[helpers.google.mcc.account.campaign.CampaignControllerHelper.CampaignForm],
    bulk_import_errors: List[String]
)(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import com.google.api.ads.adwords.axis.v201509.cm._
@import helper._
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - New Google Campaign Keyword", chart=false) {
    @form(controllers.google.mcc.account.campaign.criterion.routes.CampaignKeywordController.createCampaignKeyword) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New Google Keyword
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(campaign_keyword_form("text"), '_label -> "Text", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                    @select(
                        campaign_keyword_form("matchType"),
                        options("" :: List(KeywordMatchType._BROAD, KeywordMatchType._EXACT, KeywordMatchType._PHRASE)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Match Type",
                            'style -> "width:350px;",
                            '_label -> "Match Type",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <div class="form-group">
                    @inputText(campaign_keyword_form("destination_url"), '_label -> "Destination Url", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @select(
                        campaign_keyword_form("status"),
                        options("" :: List(UserStatus._ENABLED, UserStatus._PAUSED, UserStatus._REMOVED)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Status",
                            'style -> "width:350px;",
                            '_label -> "Status",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <div class="form-group has-warning">
                    @select(
                        campaign_keyword_form("campaignApiId"),
                        options("" :: campaign_list.map(_.getName).toList),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Campaign",
                            'style -> "width:350px;",
                            '_label -> "Linked Campaign",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Create</button>
                </div>
            </div>
        </div>

    }
    @_bulk_import(bulk_import_errors, controllers.google.mcc.account.campaign.criterion.routes.CampaignKeywordController.bulkNewCampaignKeyword, "Campaign Keyword(s)")
}