@(
    currentPageData: List[com.google.api.ads.adwords.axis.v201409.mcm.ManagedCustomer],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int
)(implicit request: play.api.mvc.Request[Any])

@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Google Accounts", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Google Accounts</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Account(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.google.account.routes.AccountController.accounts
                                )
                                <div class="col-sm-6">
                                    <div id="dataTables_filter" style="float: right;" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("Customer ID", 1, 1),
                                        ("Name", 1, 1),
                                        ("Login", 1, 1),
                                        ("Currency Code", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { account =>
                                        <tr class="gradeA odd">
                                            <td class=" ">@account.getCustomerId</td>
                                            <td class=" ">@account.getName</td>
                                            <td class="center ">@account.getName</td>
                                            <td class="center ">@account.getCurrencyCode</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.google.account.routes.AccountController.accounts
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}