@(
    image_ad_id: Long,
    image_ad_form: Form[controllers.google.ad.ImageAdController.ImageAdForm]
)(implicit request: play.api.mvc.Request[Any])
@import helper._
@import com.google.api.ads.adwords.axis.v201409.cm._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Edit Google ImageAd", chart=false) {
    @form(controllers.google.ad.routes.ImageAdController.saveImageAd(image_ad_id)) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Google Image Ad (@image_ad_form("id"))
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(image_ad_form("name"), '_label -> "Name", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group has-warning">
                        <label>Image</label>
                        <input type="file" name="image" />
                    </div>
                    <div class="form-group">
                    @inputText(image_ad_form("image_ad.url"), '_label -> "URL", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @inputText(image_ad_form("image_ad.display_url"), '_label -> "Display URL", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @inputText(image_ad_form("image_ad.tracking_url_template"), '_label -> "Tracking URL Template", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @select(
                        image_ad_form("status"),
                        options("" :: List(UserStatus._ENABLED, UserStatus._PAUSED, UserStatus._REMOVED)),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Set Status",
                            'style -> "width:350px;",
                            '_label -> "Status",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>

    }
}