@(
    currentPageData: List[
        Tuple3[
            bingads.customermanagement.entities.User,
            bingads.customermanagement.entities.AccountInfoWithCustomerData,
            String
        ]
    ],
    currentPage: Int,
    currentPageSize: Int,
    currentOrderBy: Int,
    currentFilter: String,
    totalCount: Int,
    cached_ad_changes: List[Shared.Shared.pending_cache_structure]
)(implicit request: play.api.mvc.Request[Any])

@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Msn Accounts", chart=false) {
    <div class="row">
        <div class="col-lg-12">
            <table>
                <tr>
                    <td>
                        <h3 class="page-header">Msn Accounts</h3>
                    </td>
                </tr>
            </table>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    @totalCount Account(s)
                </div>
                    <!-- /.panel-heading -->
                <div class="panel-body">
                    <div class="table-responsive">
                        <div id="dataTables_wrapper" class="dataTables_wrapper form-inline" role="grid">
                            <div class="row">
                                @views.html.snippets.pagination_size(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    currentFilter,
                                    controllers.msn.account.routes.AccountController.accounts
                                )
                                <div class="col-sm-6">
                                    <div id="dataTables_filter" style="float: right;" class="dataTables_filter">
                                        <label>Search:<input type="search" class="form-control input-sm" aria-controls="dataTables"></label>
                                    </div>
                                </div>
                            </div>
                            <table class="table table-striped table-bordered table-hover dataTable no-footer" id="dataTables" aria-describedby="dataTables_info">
                                @views.html.snippets.table_header(
                                    List(
                                        ("Username", 1, 1),
                                        ("Password", 1, 1),
                                        ("Developer Token", 1, 1),
                                        ("Customer ID", 1, 1),
                                        ("Customer Account ID", 1, 1)
                                    )
                                )
                                <tbody>
                                    @currentPageData.map { account =>
                                        <tr class="gradeA odd">
                                            <td class=" ">@account._1.getUserName</td>
                                            <td class=" ">@account._1.getPassword</td>
                                            <td class="center ">@account._3</td>
                                            <td class="center ">@account._2.getCustomerId</td>
                                            <td class="center ">@account._2.getAccountId</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                            <div class="row">
                                @views.html.snippets.showing_text(currentPageSize, currentPage, totalCount)
                                @views.html.snippets.pagination_buttons(
                                    currentPageSize,
                                    currentPage,
                                    currentOrderBy,
                                    totalCount,
                                    currentFilter,
                                    controllers.msn.account.routes.AccountController.accounts
                                )
                            </div>
                        </div>
                    </div>
                        <!-- /.table-responsive -->
                </div>
                    <!-- /.panel-body -->
            </div>
                <!-- /.panel -->
        </div>
    </div>
}