@(
    account_form: Form[controllers.msn.account.AccountController.AccountForm],
    bulk_import_errors: List[String]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@import models.mongodb._
    @args(args: (Symbol, Any)*) = @{
        args
    }

@main(title="adVanced - New Msn Account", chart=false) {
    @form(controllers.msn.account.routes.AccountController.createAccount) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New Msn Account
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @inputText(account_form("user_name"), '_label -> "Username", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @inputText(account_form("password"), '_label -> "Password", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @inputText(account_form("developer_token"), '_label -> "Developer Token", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @inputText(account_form("customer_id"), '_label -> "Customer Id", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <div class="form-group">
                    @inputText(account_form("customer_account_id"), '_label -> "Customer Account Id", 'class -> "form-control", '_showConstraints -> false)
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Create</button>
                </div>
            </div>
        </div>

    }
    @_bulk_import(bulk_import_errors, controllers.msn.account.routes.AccountController.bulkNewAccount, "Account(s)")
}