@(chart_data: List[play.api.libs.json.JsObject])(implicit request: play.api.mvc.Request[Any])

@import play.api.libs.json.{JsArray, Json}

@main(title="adVanced - Dashboard", chart=true) {
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Dashboard</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-bar-chart-o fa-fw"></i> Performance
                    <div class="pull-right">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                Actions
                                <span class="caret"></span>
                            </button>
                            <ul class="dropdown-menu pull-right" role="menu">
                                @for((chart, idx) <- chart_data.zipWithIndex) {
                                    <li><a href="#" onclick="showChart(@idx)">@{chart.\("options").\("title").as[String]}</a></li>
                                }
                                <li class="divider"></li>
                                <li><a href="#">Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <div id="chart" class="chart"></div>
                    <script type="text/javascript">
                        var json_chart_data = JSON.parse('@{scala.xml.Unparsed(Json.stringify(JsArray(chart_data)))}');
                        function showChart(idx) {
                            var data = google.visualization.arrayToDataTable(json_chart_data[idx]["data"]);
                            var chart = new google.visualization.ComboChart(document.getElementById(json_chart_data[idx]["name"]));
                            chart.draw(data, json_chart_data[idx]["options"]);
                        }

                        google.setOnLoadCallback(function() {
                          showChart(0)
                        });
                    </script>
                </div>
            </div>
        </div>
            <div class="col-lg-4">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-bell fa-fw"></i> Alerts
                    </div>
                    <div class="panel-body">
                        <div class="list-group" id="dashboard_alerts">
                            <a href="#" class="list-group-item" style="background-color: #f8f8f8;"><i class="fa fa-warning fa-fw"></i> No Alerts</a>
                        </div>
                        <a href="#" class="btn btn-default btn-block">View All Alerts</a>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <i class="fa fa-upload fa-fw"></i> Tasks
                    </div>
                        <!-- /.panel-heading -->
                    <div class="panel-body">
                        <div class="list-group" id="dashboard_tasks">
                            <a href="#" class="list-group-item" style="background-color: #f8f8f8;"><i class="fa fa-warning fa-fw"></i> No Tasks</a>
                        </div>
                        <a href="#" class="btn btn-default btn-block">View All Tasks</a>
                    </div>
                </div>

            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <i class="fa fa-clock-o fa-fw"></i> Recent Changes
                </div>
                <div class="panel-body">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-badge"><i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Chart Update</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Just now</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>Added Pricing By Classification Chart (Day, Month, Year)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-badge"><i class="fa fa-check"></i>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="timeline-title">Chart Update</h4>
                                    <p><small class="text-muted"><i class="fa fa-clock-o"></i> Just now</small>
                                    </p>
                                </div>
                                <div class="timeline-body">
                                    <p>Added Search Auto Overall Chart (Day, Month, Year)</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
}