@(notification_form: Form[helpers.NotificationConfigurationControllerHelper.NotificationForm])(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - Notification Settings", chart=false) {
    @form(controllers.routes.NotificationConfigurationController.save("123")) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit Notification Configuration
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <div class="checkbox">
                            <label>
                                @checkbox(notification_form("show_alerts_on_dashboard"), '_label -> "", '_showConstraints -> false, 'class -> "form-control") Show Alerts on Dashboard
                            </label>
                        </div>
                    </div>
                    <div class="form-group">
                        @inputText(notification_form("start_date"), '_label -> "Start Date", 'class -> "form-control", '_showConstraints -> false)
                        <p class="help-block">Expected format: YYYYMMDD. Default: current day</p>
                    </div>
                    <div class="form-group">
                        @inputText(notification_form("end_date"), '_label -> "End Date", 'class -> "form-control", '_showConstraints -> false)
                        <p class="help-block">Expected format: YYYYMMDD. Default: 20371230</p>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">
                            Network Setting
                        </div>
                            <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="checkbox">
                                <label>
                                    @checkbox(notification_form("network_setting.target_google_search"), '_label -> "", '_showConstraints -> false, 'class -> "form-control") Target Google Search
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @checkbox(notification_form("network_setting.target_search_network"), '_label -> "", '_showConstraints -> false, 'class -> "form-control") Target Search Network
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @checkbox(notification_form("network_setting.target_content_network"), '_label -> "", '_showConstraints -> false, 'class -> "form-control") Target Content Network
                                </label>
                            </div>
                            <div class="checkbox">
                                <label>
                                    @checkbox(notification_form("network_setting.target_partner_search_network"), '_label -> "", '_showConstraints -> false, 'class -> "form-control") Target Partner Search Network
                                </label>
                            </div>
                        </div>
                            <!-- /.panel-body -->
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}