@import security._
@import be.objectify.deadbolt.scala.views.html._
@import be.objectify.deadbolt.scala.AuthenticatedRequest
@import helpers.LoginControllerHelper._
@import models.mongodb.UserAccount
@import helper._
@(
    password_change_form: Form[PasswordChange],
    errorMsg: String
    
)(implicit request: AuthenticatedRequest[Any], messages: Messages)

@main(title="adVanced - Password Change", chart=false) {
	@form(controllers.routes.ApplicationController.executeChangePassword()){
		<div class="row">
			<br/>
			<div class="panel panel-primary">
				<div class="panel-heading">
					Change Password
				</div>
				<div class="panel-body">
					<input type="hidden" name="username" id="username"
					value="@password_change_form.data.get("username")" />
					<div class="form-group">
						@{
							inputText(
								password_change_form("currentPassword"),
								'type -> "password",
								'_label -> "Current Password",
								'class -> "form-control",
								'_showContstraints -> false
							)
						}
					</div>
					<div class="form-group">
						@{
							inputText(
								password_change_form("newPassword"),
								'type -> "password",
								'_label -> "New Password",
								'class -> "form-control",
								'_showContstraints -> false
							)
						}
					</div>
					<div class="form-group">
						@{
							inputText(
								password_change_form("confirmNewPassword"),
								'type -> "password",
								'_label -> "Confirm New Password",
								'class -> "form-control",
								'_showContstraints -> false
							)
						}
					</div>
					@if(!errorMsg.isEmpty){
						<span style="color: red;">@errorMsg</span><br/>
					}
					<br/>
					<button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
				</div>
			</div>
		</div>
	}
}