@()(implicit request: play.api.mvc.Request[Any])

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - User Profile", chart=false) {
    <div style="text-align: center;">
        <h3>Permission Denied - You don't have sufficient permissions to view this page.</h3>
        <form><input Type="button" VALUE="Back" onClick="history.go(-1);return true;"></form>
    </div>
}