@(
    user_profile_form: Form[helpers.UserProfileControllerHelper.UserProfileForm],
    security_roles: List[models.mongodb.SecurityRole]
)(implicit request: play.api.mvc.Request[Any], messages: Messages)

@import helper._
@args(args: (Symbol, Any)*) = @{
    args
}
@main(title="adVanced - User Profile", chart=false) {
    @form(controllers.routes.UserProfileController.save()) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    Edit User Profile
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        @inputText(user_profile_form("username"), '_label -> "Username", 'class -> "form-control", '_showConstraints -> false, 'readonly -> "readonly")
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        @inputText(user_profile_form("email"), '_label -> "Email", 'class -> "form-control", '_showConstraints -> false, 'readonly -> "readonly")
                        <p class="help-block"></p>
                    </div>
                    <div class="form-group">
                        @for((role, index) <- security_roles.zipWithIndex) {
                            @checkbox(user_profile_form("security_roles"), '_id -> s"security_roles[${index}]", '_label -> role.roleName, 'class -> "form-control", '_showConstraints -> false)
                            <p class="help-block"></p>
                        }
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Save</button>
                </div>
            </div>
        </div>
    }
}