@(
    campaign_proximity_form: Form[controllers.google.campaign.criterion.CampaignProximityController.CampaignProximityForm],
    campaign_list: List[com.google.api.ads.adwords.axis.v201409.cm.Campaign],
    cached_campaign_list: List[controllers.google.campaign.CampaignController.CampaignForm],
        bulk_import_errors: List[String]
)(implicit request: play.api.mvc.Request[Any])

@import helper._
@import models.mongodb.google._
@import com.google.api.ads.adwords.axis.v201409.cm._
    @args(args: (Symbol, Any)*) = @{
        args
    }
@main(title="adVanced - Edit Google Campaign Proximity", chart=false) {
    @form(controllers.google.campaign.criterion.routes.CampaignProximityController.createCampaignProximity) {
        <div class="row">
            <br />
            <div class="panel panel-primary">
                <div class="panel-heading">
                    New Google Campaign Proximity
                </div>
                <div class="panel-body">
                    <div class="form-group has-warning">
                    @select(
                        campaign_proximity_form("campaign_object_id"),
                        options("" :: campaign_list.map(_.getName).toList),
                        args(
                            'class -> "chosen-select form-control",
                            Symbol("data-placeholder") -> "Campaign",
                            'style -> "width:350px;",
                            '_label -> "Linked Campaign",
                            '_showConstraints -> false
                        ): _*
                    )
                    </div>
                    <br />
                    <button type="submit" class="btn btn-outline btn-primary btn-lg">Create</button>
                </div>
            </div>
        </div>

    }
    @_bulk_import(bulk_import_errors, controllers.google.campaign.criterion.routes.CampaignProximityController.bulkNewCampaignProximity, "Campaign Proximity")
}